.file {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;

  pre {
    margin: 16px 0;
  }

  button {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid purple;
  }
}